@import './base.css';

p {
  font-size: 16px;
  line-height: 100%;
}

.en {
  font-size: 72px;
  font-weight: 900;
  line-height: 150%;
  text-align: center;
  -webkit-text-stroke: 1px #000000;
}
.jp {
  font-size: 20px;
  text-align: center;
}
.colum {
  display: flex;
  flex-direction: column;
}

.form {
  width: 100%;
  height: auto;
  padding: 40px 50px;
  border: 1px solid var(--black);
  border-radius: 30px;
  background-color: var(--white);
}

label {
  font-weight: 100;
  font-size: 20px;
  line-height: 100%;
}
input {
  width: 100%;
  height: 60px;
  padding: 22px 16px;
  border-radius: 10px;
  border: 1px solid var(--black);
  font-size: 16px;
  font-weight: 100;
}
