@import './base.css';

p {
  font-size: 16px;
  line-height: 100%;
}

.en {
  font-size: 72px;
  font-weight: 900;
  line-height: 150%;
  text-align: center;
  -webkit-text-stroke: 1px #000000;
}
.jp {
  font-size: 20px;
  text-align: center;
}

.form {
  width: 100%;
  height: auto;
  padding: 40px 50px;
  border: 1px solid var(--black);
  border-radius: 30px;
}

label {
  font-size: 20px;
  line-height: 100%;
}
input {
}
